@model IEnumerable<QL_RapChieuPhim.Models.Ve>
@{
    ViewBag.Title = "Xác nhận đặt vé";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Xác nhận đặt vé</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Ghế</th>
                <th>Ngày chiếu</th>
                <th>Giá</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model)
            {
                <tr>
                    <td>@ticket.Ghe.SoGhe</td>
                    <td>@ticket.SuatChieu.ThoiGianChieu.Value.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@ticket.SuatChieu.Gia</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Không có vé nào được đặt.</p>
}
